@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100vh;
    position: relative;
}

/*add class to fix navbar on scroll down */
.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}


.gallery_body {
    margin: 20px 40px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 30px;
    /* text-align: center; */
    grid-auto-flow: dense;
}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img {
    width: 85%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.gallery-item:hover .image img {
    transform: scale(1.5);
}

.dec {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s ease-in-out;
    cursor: pointer;
}

/* .gallery-item .text {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    pointer-events: none;
    z-index: 4;
    transition: .3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
} */

.gallery-item:hover .dec {
    opacity: 1;
    height: 100%;
    /* padding: 1em;
    width: 100%; */
    /* -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8); */
}


.item-1 {
    background-color: #83a9ac;
}

.item-2 {
    background-color: #7f8eb1;
}

.item-3 {
    background-color: #aaa77c;
    ;
}

.item-4 {
    background-color: #cc790f;
}

.item-5 {
    background-color: #64b094;
}

.item-6 {
    background-color: #eaeaea;
    ;
}

.wd-1 {
    grid-column: span 1;
}

.wd-2 {
    grid-column: span 2;
}

.wd-3 {
    grid-column: span 3;
}

.wd-4 {
    grid-column: span 4;
}

.wd-5 {
    grid-column: span 5;
}

.wd-6 {
    grid-column: span 6;
}

.wd-7 {
    grid-column: span 7;
}

.wd-8 {
    grid-column: span 8;
}

.ht-1 {
    grid-row: span 1;
}

.ht-2 {
    grid-row: span 2;
}

.ht-3 {
    grid-row: span 3;
}

.ht-4 {
    grid-row: span 4;
}

.ht-5 {
    grid-row: span 5;
}

.ht-6 {
    grid-row: span 6;
}

.ht-7 {
    grid-row: span 7;
}

.ht-8 {
    grid-row: span 8;
}

/* animate css grid */


@media screen and (max-width:850px) {
    .gallery_body {
        grid-template-columns: repeat(1, 1fr);
    }

    .wd-1,
    .wd-2,
    .wd-3,
    .wd-4,
    .wd-5,
    .wd-6,
    .wd-8,
    .wd-7 {
        grid-column: span 1;
    }

}

/* @keyframes move-down {
    0% {
        top: 10%;
    }

    50% {
        top: 35%;
    }

    100% {
        top: 50%;
    }
} */

/* index main csss section */
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 28px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

/* overlay section */
#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
    transform: translateX(2000px);
    transition: all .8s ease-in-out;
}

#overlay.return_overlay {
    transform: translateX(0);
    transition: all .8s ease-in-out;
}

#overlay.close_overylay {
    transform: translateX(2000);
    display: none;
    transition: all .8s ease-in-out;
}

#form {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.closing_btn {
    transition: all .2s;
}

.closing_btn:hover {
    transform: rotate(125deg);
}

/* hover over links for underlin effect */
.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(214, 200, 4), rgba(209, 196, 19, 0.986));
}

.link-underline:hover {
    background-size: 100% 1px;
    background-position: 0 100%
}


